* {
  box-sizing: border-box;
}

body {
  background-image: url('../img/Desktop\ -\ 2.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  background-color: #f2f2f2;
  color: #2a4d6b;
  margin: 0;
}

h1 {
  font-family: 'Playfair Display', sans-serif;
  font-style: 400px;
  font-weight: bold;
  font-size: 3.75rem;
  margin-top: 280px;
  margin-bottom: 142px;
  padding-left: 10%;
  padding-right: 5%;
}

h2 {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  color: #ff9582;
  letter-spacing: 0.25em;
  margin-top: 120px;
}

p {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  color: #edd6b9;
}

.redes {
  font-family: 'Playfair Display', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  color: #2a4d6b;
}

section {
  width: 100%;
  margin: 0 auto;
}

section section {
  width: 100%;
}

ul {
  list-style-type: none;
  line-height: 2;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #2a4d6b;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  padding-left: 2%;
  padding-right: 2%;
}

.contato {
  text-decoration: none;
  color: #ff9582;
  font-family: 'Playfair Display', sans-serif;
}

.clients {
  font-family: 'Work Sans', sans-serif;
  color: #ff9582;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: underline;
}

.li-servicos {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  color: #2a4d6b;
  padding-top: 3%;
  padding-left: 20%;
  padding-right: 16%;
  text-align: left;
}

.customers {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
}

.menu {
  height: 40px;
  max-width: 85%;
  margin: 0 auto;
}

.menu li {
  display: inline-block;
  line-height: 2.5;
  margin: 0 89px;
}

#sobre {
  background: linear-gradient(113.87deg, #2a4d6b -14.91%, #6d95af 111.66%);
  margin-top: 189px;
  padding: 10%;
  padding-left: 25%;
  padding-right: 25%;
  text-align: left;
}

#retangulo1 {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
  height: 5px;
  background-color: #2a4d6b;
}

#retangulo2 {
  width: 80%;
  height: 5px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0;
  margin-bottom: 200.5px;
  background-color: #2a4d6b;
}

.carousel {
  width: 100%;
  height: 100%;
  transform: translateZ(0);
}

.carousel input {
  position: absolute;
  left: -10000px;
}

.carousel__stage {
  overflow: hidden;
  font-size: 0;
  white-space: nowrap;
  width: 100%;
  height: 80%;
  transition: text-indent 600ms;
  position: relative;
}

.carousel__item {
  display: inline-block;
  width: 100%;
  height: 80%;
  overflow: hidden;
  text-indent: 0;
  opacity: 0.6;
  text-align: center;
}

.carousel__image {
  height: 60%;
  width: 60%;
  padding-bottom: 100px;
  display: inline-block;
}

.carousel__next,
.carousel__prev {
  display: none;
  position: absolute;
  top: 35%;
  color: #2a4d6b;
  background: transparent;
  z-index: 1;
  font-size: 3rem;
  padding: 20px;
  cursor: pointer;
}

.carousel__prev {
  left: 0;
}

.carousel__prev:after {
  content: ' < ';
  display: inline-block;
}

.carousel__next {
  right: 0;
}

.carousel__next:after {
  content: ' > ';
  display: inline-block;
}

#carousel1:checked ~ .carousel__stage .carousel__item:nth-child(1),
#carousel2:checked ~ .carousel__stage .carousel__item:nth-child(2),
#carousel3:checked ~ .carousel__stage .carousel__item:nth-child(3),
#carousel4:checked ~ .carousel__stage .carousel__item:nth-child(4),
#carousel5:checked ~ .carousel__stage .carousel__item:nth-child(5),
#carousel6:checked ~ .carousel__stage .carousel__item:nth-child(6),
#carousel7:checked ~ .carousel__stage .carousel__item:nth-child(7),
#carousel8:checked ~ .carousel__stage .carousel__item:nth-child(8),
#carousel9:checked ~ .carousel__stage .carousel__item:nth-child(9),
#carousel10:checked ~ .carousel__stage .carousel__item:nth-child(10),
#carousel11:checked ~ .carousel__stage .carousel__item:nth-child(11),
#carousel12:checked ~ .carousel__stage .carousel__item:nth-child(12),
#carousel13:checked ~ .carousel__stage .carousel__item:nth-child(13),
#carousel14:checked ~ .carousel__stage .carousel__item:nth-child(14),
#carousel15:checked ~ .carousel__stage .carousel__item:nth-child(15),
#carousel16:checked ~ .carousel__stage .carousel__item:nth-child(16),
#carousel17:checked ~ .carousel__stage .carousel__item:nth-child(17),
#carousel18:checked ~ .carousel__stage .carousel__item:nth-child(18),
#carousel19:checked ~ .carousel__stage .carousel__item:nth-child(19),
#carousel20:checked ~ .carousel__stage .carousel__item:nth-child(20) {
  opacity: 1;
}

#carousel1:checked ~ .carousel__stage {
  text-indent: 0;
}

#carousel2:checked ~ .carousel__stage {
  text-indent: -100%;
}

#carousel3:checked ~ .carousel__stage {
  text-indent: -200%;
}

#carousel4:checked ~ .carousel__stage {
  text-indent: -300%;
}
#carousel5:checked ~ .carousel__stage {
  text-indent: -400%;
}
#carousel6:checked ~ .carousel__stage {
  text-indent: -500%;
}
#carousel7:checked ~ .carousel__stage {
  text-indent: -600%;
}
#carousel8:checked ~ .carousel__stage {
  text-indent: -700%;
}
#carousel9:checked ~ .carousel__stage {
  text-indent: -800%;
}
#carousel10:checked ~ .carousel__stage {
  text-indent: -900%;
}
#carousel11:checked ~ .carousel__stage {
  text-indent: -1000%;
}
#carousel12:checked ~ .carousel__stage {
  text-indent: -1100%;
}
#carousel13:checked ~ .carousel__stage {
  text-indent: -1200%;
}
#carousel14:checked ~ .carousel__stage {
  text-indent: -1300%;
}
#carousel15:checked ~ .carousel__stage {
  text-indent: -1400%;
}
#carousel16:checked ~ .carousel__stage {
  text-indent: -1500%;
}
#carousel17:checked ~ .carousel__stage {
  text-indent: -1600%;
}
#carousel18:checked ~ .carousel__stage {
  text-indent: -1700%;
}
#carousel19:checked ~ .carousel__stage {
  text-indent: -1800%;
}
#carousel20:checked ~ .carousel__stage {
  text-indent: -1900%;
}

#carousel1:checked
  ~ .carousel__stage
  .carousel__item:nth-child(1)
  .carousel__prev,
#carousel1:checked
  ~ .carousel__stage
  .carousel__item:nth-child(1)
  .carousel__next,
#carousel2:checked
  ~ .carousel__stage
  .carousel__item:nth-child(2)
  .carousel__prev,
#carousel2:checked
  ~ .carousel__stage
  .carousel__item:nth-child(2)
  .carousel__next,
#carousel3:checked
  ~ .carousel__stage
  .carousel__item:nth-child(3)
  .carousel__prev,
#carousel3:checked
  ~ .carousel__stage
  .carousel__item:nth-child(3)
  .carousel__next,
#carousel4:checked
  ~ .carousel__stage
  .carousel__item:nth-child(4)
  .carousel__prev,
#carousel4:checked
  ~ .carousel__stage
  .carousel__item:nth-child(4)
  .carousel__next,
#carousel5:checked
  ~ .carousel__stage
  .carousel__item:nth-child(5)
  .carousel__prev,
#carousel5:checked
  ~ .carousel__stage
  .carousel__item:nth-child(5)
  .carousel__next,
#carousel6:checked
  ~ .carousel__stage
  .carousel__item:nth-child(6)
  .carousel__prev,
#carousel6:checked
  ~ .carousel__stage
  .carousel__item:nth-child(6)
  .carousel__next,
#carousel7:checked
  ~ .carousel__stage
  .carousel__item:nth-child(7)
  .carousel__prev,
#carousel7:checked
  ~ .carousel__stage
  .carousel__item:nth-child(7)
  .carousel__next,
#carousel8:checked
  ~ .carousel__stage
  .carousel__item:nth-child(8)
  .carousel__prev,
#carousel8:checked
  ~ .carousel__stage
  .carousel__item:nth-child(8)
  .carousel__next,
#carousel9:checked
  ~ .carousel__stage
  .carousel__item:nth-child(9)
  .carousel__prev,
#carousel9:checked
  ~ .carousel__stage
  .carousel__item:nth-child(9)
  .carousel__next,
#carousel10:checked
  ~ .carousel__stage
  .carousel__item:nth-child(10)
  .carousel__prev,
#carousel10:checked
  ~ .carousel__stage
  .carousel__item:nth-child(10)
  .carousel__next,
#carousel11:checked
  ~ .carousel__stage
  .carousel__item:nth-child(11)
  .carousel__prev,
#carousel11:checked
  ~ .carousel__stage
  .carousel__item:nth-child(11)
  .carousel__next,
#carousel12:checked
  ~ .carousel__stage
  .carousel__item:nth-child(12)
  .carousel__prev,
#carousel12:checked
  ~ .carousel__stage
  .carousel__item:nth-child(12)
  .carousel__next,
#carousel13:checked
  ~ .carousel__stage
  .carousel__item:nth-child(13)
  .carousel__prev,
#carousel13:checked
  ~ .carousel__stage
  .carousel__item:nth-child(13)
  .carousel__next,
#carousel14:checked
  ~ .carousel__stage
  .carousel__item:nth-child(14)
  .carousel__prev,
#carousel14:checked
  ~ .carousel__stage
  .carousel__item:nth-child(14)
  .carousel__next,
#carousel15:checked
  ~ .carousel__stage
  .carousel__item:nth-child(15)
  .carousel__prev,
#carousel15:checked
  ~ .carousel__stage
  .carousel__item:nth-child(15)
  .carousel__next,
#carousel16:checked
  ~ .carousel__stage
  .carousel__item:nth-child(16)
  .carousel__prev,
#carousel16:checked
  ~ .carousel__stage
  .carousel__item:nth-child(16)
  .carousel__next,
#carousel17:checked
  ~ .carousel__stage
  .carousel__item:nth-child(17)
  .carousel__prev,
#carousel17:checked
  ~ .carousel__stage
  .carousel__item:nth-child(17)
  .carousel__next,
#carousel18:checked
  ~ .carousel__stage
  .carousel__item:nth-child(18)
  .carousel__prev,
#carousel18:checked
  ~ .carousel__stage
  .carousel__item:nth-child(18)
  .carousel__next,
#carousel19:checked
  ~ .carousel__stage
  .carousel__item:nth-child(19)
  .carousel__prev,
#carousel19:checked
  ~ .carousel__stage
  .carousel__item:nth-child(19)
  .carousel__next,
#carousel20:checked
  ~ .carousel__stage
  .carousel__item:nth-child(20)
  .carousel__prev,
#carousel20:checked
  ~ .carousel__stage
  .carousel__item:nth-child(20)
  .carousel__next {
  display: block;
}

footer {
  margin-bottom: 10%;
}

footer img {
  width: 321px;
  height: 327px;
}
@media (max-width: 768px) {
  body {
    background-image: url('../img/Android\ -\ 2.png');
    background-size: cover;
  }

  h1 {
    font-size: 1.5rem;
    padding-left: 2%;
    padding-right: 5%;
    margin-top: 50%;
    margin-bottom: 15%;
  }

  h2 {
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
  }

  .redes {
    font-size: 1rem;
  }

  a {
    font-size: 0.9rem;
  }

  .clients {
    font-size: 1rem;
  }

  .li-servicos {
    font-size: 1rem;
    color: #2a4d6b;
    padding-top: 12%;
    padding-left: 8%;
    padding-right: 5%;
    text-align: left;
  }

  .customers {
    font-size: 1rem;
  }

  footer img {
    width: 40%;
    height: 40%;
  }

  #sobre {
    margin-top: 15%;
    padding: 15%;
    padding-left: 10%;
    padding-right: 10%;
  }

  header nav {
    display: block;
  }
  nav ul {
    display: inline;
    flex-direction: column;
    text-align: center;
    width: 30%;
  }
}
