body {
  height: 100vh;
  background-color: #e5e5e5;
  background-image: url('../img/Mask\ Group.png');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 1460px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #2a4d6b;
  margin-bottom: 50px;
  margin: 0;
}

header {
  background-image: url('../img/thaise_logo.png');
  background-repeat: no-repeat;
  background-position: top center;
  display: inline-block;
  width: 90%;
  max-width: 980px;
  margin: 50px auto;
  padding: 0 0 109px 0;
}

header nav {
  position: absolute;
  top: 32px;
  right: 0;
  left: 0;
  z-index: 1030;
}

header p {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 24px;
  padding-top: 90;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-around;
  padding: 0.5rem 1rem;
}

header nav ul li {
  list-style: none;
  padding-left: 80px;
  padding-right: 15px;
}

header nav ul li a {
  text-decoration: none;
  color: #2a4d6b;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  width: 90%;
  max-width: 980px;
  margin: auto;
  padding: 50px;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 167%px;
  color: #2a4d6b;
  margin: 268px auto 90px auto;
  text-align: center;
}

.contato {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  padding: 35px;
  color: #ff9582;
}

#sobre {
  background: linear-gradient(113.87deg, #2a4d6b -14.91%, #6d95af 111.66%);
  width: 1349;
  height: 512;
  padding: 115px 200px 114px 300px;

  /*padding-top: 100px;
  padding-left: 200px;
  padding-right: 150px;
  padding bottom: 80px;
  justify-content: center;
  /*width: 90%;
  height: 670px;

  padding: 115px 130px 114px 230px;
  
  margin: auto;*/
}

.texto-sobre {
  text-align: justify;
  display: block;
  font-family: 'Work Sans', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 160%;
  color: #edd6b9;
  width: 90%;
  max-width: 980px;
}
#servicos {
  text-align: justify;
  width: 90%;
  max-width: 980px;
  margin: auto;
}
h2 {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.25em;
  padding-top: 125px;
  padding-bottom: 60px;
  color: #ff9582;
}

.li-servicos {
  list-style-image: url('../img/Ellipse\ 3.png');
  padding-bottom: 50px;
  padding-left: 18px;
}

ul li span {
  color: #2a4d6b;
  font-family: Work Sans;
  font-style: normal;
  font-size: 24px;
  line-height: 160%;
}

.abstrata-rose {
  width: 522.87px;
  height: 447.1px;
  left: 1139px;
  top: 2111.72px;
}

#clientes {
  text-align: center;
  width: 90%;
  max-width: 980px;
  margin: auto;
}

.clients {
  list-style-type: none;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 220%;
}

a {
  color: #ff9582;
  font-weight: 600;
  font-size: 24px;
}

#resultados {
  text-align: center;
  width: 90%;
  max-width: 980px;
  margin: auto;
}

.texto-result {
  text-align: center;
}

.slider {
  display: block;
  height: 293px;
  width: 600px;
  margin: auto;
  margin-top: 20px;
  position: relative;
}

.slider li {
  list-style: none;
  position: absolute;
}

.slider img {
  margin: auto;
  height: 100%;
  width: 100%;
  vertical-align: top;
  opacity: 0;
  visibility: hidden;
}

.slider li input:checked ~ img {
  opacity: 1;
  visibility: visible;
  z-index: 10;
  margin-bottom: 80px;
}

.slider input {
  display: none;
}

.slider label {
  background-color: #2a4d6b;
  bottom: 10px;
  cursor: pointer;
  display: block;
  height: 10px;
  position: absolute;
  width: 10px;
  z-index: 10;
}

.slider li:nth-child(1) label {
  left: 10px;
}

.slider li:nth-child(2) label {
  left: 40px;
}

.slider li:nth-child(3) label {
  left: 70px;
}
.slider li:nth-child(4) label {
  left: 100px;
}
.slider li:nth-child(5) label {
  left: 130px;
}
.slider li:nth-child(6) label {
  left: 160px;
}
.slider li:nth-child(7) label {
  left: 190px;
}
.slider li:nth-child(8) label {
  left: 220px;
}
.slider li:nth-child(9) label {
  left: 250px;
}
.slider li:nth-child(10) label {
  left: 280px;
}
.slider li:nth-child(11) label {
  left: 310px;
}
.slider li:nth-child(12) label {
  left: 340px;
}
.slider li:nth-child(13) label {
  left: 370px;
}
.slider li:nth-child(14) label {
  left: 400px;
}
.slider li:nth-child(15) label {
  left: 430px;
}
.slider li:nth-child(16) label {
  left: 460px;
}
.slider li:nth-child(17) label {
  left: 490px;
}
.slider li:nth-child(18) label {
  left: 520px;
}
.slider li:nth-child(19) label {
  left: 550px;
}
.slider li:nth-child(20) label {
  left: 580px;
}

/*header ul li {
  display: inline-block;
  line-height: 2.5;
  margin: 0px 60px;
}

img {
  width: 49.5%;
  float: right;
  position: absolute;
}

section {
  width: 80%;
  margin: 0 auto;
}

section section {
  width: 100%;
}

#resumo {
  background-color: transparent;
  position: relative;
  width: 100%;
  height: 600px;
}

h1 {
  height: 376px;
  text-align: justify;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 167%;

  padding: 80px 183px 50px 148px;

  color: #2a4d6b;
}

h2 {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  text-align: justify;
  padding-top: 125px;
  padding-bottom: 60px;
  color: #ff9582;
}

.menu {
  background-color: transparent;
  height: 40px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 100%;
}

.menu ul li {
  display: inline-block;
  line-height: 2.5;
  margin: 0px 60px;
}

.menu ul li a {
  color: #2a4d6b;
  text-decoration: none;
  font-weight: 400;
  font-style: normal;
  padding: 10px 0px;
}

#retangulo {
  position: absolute;
  width: 6px;
  height: 365px;
  left: 107px;
  top: 170px;
  background: #ff9582;
  border-radius: 4px;
}

#sobre {
  background-color: #2a4d6b;
  position: relative;
  width: 100%;
  height: 800px;
}

.texto-sobre {
  text-align: justify;
  font-family: Work Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 160%;
  margin: 99px;
  color: #edd6b9;
  max-width: 1000px;
}

li {
  font-size: 30px;
  line-height: 160%;
  padding-left: 0;
  padding-bottom: 50px;
  text-align: justify;
}

ul li span {
  color: #2a4d6b;
  font-family: 'Work Sans', sans-serif;
}

.clients {
  list-style-type: none;
  font-family: 'Work Sans', sans-serif;
}

a {
  color: #ff9582;
  font-weight: bold;
}

@media screen and (min-width: 768px);
 {
  .menu {
    flex-direction: row;
    justify-content: space-around;
  }

  nav ul li {
    flex-direction: row;
    width: 70%;
  }

  #resumo {
    height: 600px;
    height: 60vh;
    justify-content: center;
  }

  #sobre {
    height: 250px;
    height: 30vh;
    justify-content: center;
    min-height: 250px;
  }
}*/
